<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "CreativeWork",
    "mainEntityOfPage": {
      "@type": "WebPage"
    },
    "isPartOf": {
      "@id": "{{ meta.url }}#website"
    },
    "@id": "{{ url }}",
    "name": "{{ title or meta.siteName }}",
    "description": "{{ discover.description or summary or meta.siteDescription }}",
    "image": "{{ meta.url }}{% if discover.image %}/assets/images/{{ discover.image }}{% else %}{{ meta.opengraph_default }}{% endif %}",
    "inLanguage": "{{ meta.locale }}",
    "creator": {
      "@type": "{{ meta.siteType }}",
      "name": "{{ meta.author.name }}",
      "url": "{{ meta.url }}"
    },
    "dateCreated": "{{ date | toIsoString }}"
  }
</script>
