{% set headingLevel = headingLevel | default("h2") %}
{% set definedDate = definedDate | default(item.date) %}

<custom-card clickable>
  <{{ headingLevel }} slot="headline" class="text-step-2">
    <a href="{{ item.url }}">{{ item.data.title }}</a>
  </{{ headingLevel }}>
  <span slot="date">
    {% include "partials/date.njk" %}
    {% if item.data.viewer %}<span class="button" data-small-button data-button-variant="primary">flagship</span>{% endif %}
  </span>
  <div slot="content" webc:nokeep>{{ item.data.summary | markdownFormat | safe }}</div>
</custom-card>

{% css "local" %}
  {% include "css/custom-card.css" %}
{% endcss %}
